
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <title>Happy Thai Life</title>
  <%= stylesheet_link_tag "pure-min" %>
  <%= stylesheet_link_tag "grids-responsive-min" %>
  <%= stylesheet_link_tag "font-awesome" %>
  <%= stylesheet_link_tag "marketing" %>
</head>
<body>
<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="">Happy Thai</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
      <li class="pure-menu-item"><%= link_to 'Lessons', 'lessons', class: 'pure-menu-link' %></li>
      <li class="pure-menu-item"><%= link_to 'Contact', 'contact', class: 'pure-menu-link' %></li>
    </ul>
  </div>
</div>
  <%= yield %>
</body>
</html>
