<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <title>Happy Thai Life</title>
  <%= stylesheet_link_tag "pure-min" %>
  <%= stylesheet_link_tag "grids-responsive-min" %>
  <%= stylesheet_link_tag "font-awesome" %>
  <%= stylesheet_link_tag "marketing" %>
</head>
<body>
<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="/">Happy Thai</a>
  </div>
</div>
  <%= yield %>
  <div class="footer l-box is-center">
    <div class="social-links">
      <% link_to 'https://twitter.com/happythailife' do %>
        <i class="fa fa-twitter-square"></i>
      <% end %>
      <% link_to 'https://www.facebook.com' do %>
        <i class="fa fa-facebook-square"></i>
      <% end %>
      <% link_to 'https://www.instagram.com' do %>
        <i class="fa fa-instagram"></i>
      <% end %>
    </div>
    <p style="margin: 0;">© <%= Time.now.year %> happythai.life</p>
  </div>
</body>
</html>
